/* for overall structure */
* {
  margin: 0;
  padding: 0;
}
body{
  color: #595959;
  font-size: 80%
}
#container {
  width: 670px;
  margin: 0 auto;
}
#box {
  width: 670px;
  height: 380px;
  margin-left: -335px;
  margin-right: -190px;
  position: absolute;
  top: 25%;
  left: 50%;
}
/*************************/
/* sidebar */
#side {
  float: left;
  width: 220px;
  height: 350px;
  background: url(016.gif) no-repeat left bottom;
}

#side h1{
  color: #595959;
  font-size: 140%;
  margin-bottom: 10px;
}

/* side bar navi */
#side ul {
  padding: 0px;
  text-align: left;
}

#side ul li {
  list-style-type: none;
}

/*************************/
/* main module */
#main {
  float: left;
  width: 450px;
  height: 350px;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;

}

/*************************/
/* footer */
footer {
  clear: left;
  position: relative;
  width: 100%;
  height: 30px;
  text-align: right;
  background: url(019.gif) no-repeat right top;
}
footer ul {
  padding-right: 240px;
}
/*************************/
/* other elements */
a {
  text-decoration: none;
  color: #374140;
}
a:hover {
  color: #607D8B;
}
a:visited {
  color: #607D8B;
}

li {
  list-style-type: none;
}

h2 {
  background: #BEBDBF;
  border-left: 10px #BFBFBF;
  padding-left: 10px;
  color: #607D8B;
  margin-bottom: 5px;
}
