/* for overall structure */
* {
  margin: 0;
  padding: 0;
}
body{
  color: #595959;
  font-size: 80%
}
#container {
  width: 670px;
  margin: 0 auto;
}
#box {
  width: 670px;
  height: 380px;
  margin-left: -335px;
  margin-right: -190px;
  position: absolute;
  top: 25%;
  left: 50%;
}
/*************************/
/* sidebar */
#side {
  float: left;
  width: 220px;
  height: 350px;
  background: url(016.gif) no-repeat left bottom;
}

#side h1{
  color: #595959;
  font-size: 140%;
  margin-bottom: 10px;
}

/* side bar navi */
#side ul {
  padding: 0px;
  text-align: left;
}

#side ul li {
  list-style-type: none;
}

/*************************/
/* main module */
#main {
  float: left;
  width: 450px;
  height: 350px;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;

}

/*************************/
/* footer */
footer {
  clear: left;
  position: relative;
  width: 100%;
  height: 30px;
  text-align: right;
  background: url(019.gif) no-repeat right top;
}
footer ul {
  padding-right: 240px;
}
/*************************/
/* other elements */
em, strong, ins {
  color: #080808;
}

a {
  text-decoration: none;
  color: #374140;
}
a:hover {
  color: #080808;
}
a:visited {
  color: #080808;
}

li {
  list-style-type: none;
}

div.dec {
  padding: 5px;
  margin-bottom: 4px;
  background: #D9D9D9;
  border-left: 5px #080808 solid;
}
/* headings */
h2 {
  background: #BEBDBF;
  border-left: 5px #080808 solid;
  padding-left: 10px;
  color: #080808;
  margin-bottom: 5px;
}

h3 {
  border-left: 5px #BFBFBF solid;
  padding-left: 10px;
  margin-bottom: 5px;
}

h4 {
  color: #8C8C8C;
  text-decoration: underline;
  margin-bottom: 3px;
}

h5 {
  color: #8C8C8C;
  margin-bottom: 1px;
}
