/* for overall structure */
* {
  margin: 0;
  padding: 0;
}
body{
  color: #232323;
  font: 68%/1.6
}
#container {
  width: 670px;
  margin: 0 auto;
}
#box {
  width: 670px;
  height: 380px;
  margin-left: -335px;
  margin-right: -190px;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* sidebar */
#side {
  float: left;
  width: 220px;
  height: 350px;
  background: url(016.gif) no-repeat left bottom;
}

/* main module */
#main {
  float: left;
  width: 450px;
  height: 350px;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  clear: left;
  /* position: relative; */
  width: 100%;
  height: 30px;
  text-align: right;
  background: url(019.gif) no-repeat right top;
}
footer ul {
  padding-top: 10px;
  padding-left: 240px;
}
